body{
    background: rgb(234,226,207);
}
.board {
	width: 400px;
	height: 400px;
	background: radial-gradient(circle, black, rgb(4, 4, 4), rgb(58, 58, 58), black, rgb(39, 39, 39));
	-moz-border-radius: 360px;
	-webkit-border-radius: 360px;
	border-radius: 360px;
    position: fixed;
    box-shadow: 10px 10px 5px #888888;
    left: 35%;
    top: 50px;

 
	
}
button{
    margin-top: 145px;
    margin-left: 160px;
    width: 110px;
    height: 110px;
    background: radial-gradient(circle, black, rgb(4, 4, 4), rgb(58, 58, 58), black, rgb(39, 39, 39));
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    
}
.score{
  font-family: 'Special Elite', cursive;
  font-size: 2em;
  bottom: 20%;
  position: fixed;

   
}
.score-board{  
  font-family: 'Special Elite', cursive;
  font-size: 2em;
  bottom: 25%;
  position: fixed;

    
}

.modal{
    font-family: 'Special Elite', cursive;
    position: fixed;
    bottom: 5%;
    font-size: 1.5em;
}

.lose{
    font-family: 'Special Elite', cursive;
}

.new-round {
    font-family: 'Special Elite', cursive;
}

h4{
    bottom: 30%;
    left: 18%;
    color: #ecf0f1;
    position: absolute;
}

.button-green {
    margin-top: 35px;
    margin-left: 50px;
    width: 160px;
    height: 160px;
    background: radial-gradient(circle, rgb(153, 255, 153), rgb(0, 153, 51));
    border-top-left-radius: 360px; 
    position: fixed;

}
.button-red {
    margin-left: 50px;
    margin-top: 209px;
    width: 160px;
    height: 160px;
    background: radial-gradient(circle, rgb(255, 80, 80), rgb(255, 0, 0));
    border-bottom-left-radius: 360px;
    position: fixed;

}
.button-yellow {
    margin-top: 35px;
    margin-left: 220px;
    width: 160px;
    height: 160px;
    background: radial-gradient(circle, rgb(255, 255, 153), rgb(255, 255, 102), rgb(255, 255, 0));
    border-top-right-radius: 360px;
    position: fixed;

}
.button-blue {
    margin-top: 209px;
    margin-left: 220px;
    width: 160px;
    height: 160px;
    background: radial-gradient(circle, rgb(0,191,255), rgb(0,0,139) );
    border-bottom-right-radius: 360px;
    position: fixed;
   
}


  
.signature {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #bdc3c7;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #ecf0f1;
    text-align: center;
    line-height: 2rem;
    margin: 0 3px 0 0;
    position: absolute;
    bottom: 65px;
    left: 25px;
}




/*active button backgrounds*/
.green-light {
    background: radial-gradient(circle, white, white, rgb(204, 255, 204), rgb(153, 255, 153), rgb(51, 204, 51), rgb(0, 153, 51));
}
.red-light {
    background: radial-gradient(circle, white, white,    rgb(255, 204, 204), rgb(255, 153, 153), rgb(255, 80, 80), rgb(255, 0, 0));
}
.yellow-light {
    background: radial-gradient(circle, white, white, white, white, rgb(255, 255, 204), rgb(255, 255, 153), rgb(255, 255, 102), rgb(255, 255, 0));
}
.blue-light {
    background: radial-gradient(circle, white, rgb(173,216,200), rgb(135,206,250), rgb(0,191,255), rgb(0,0,139) );
}